@import url("normalize.css");

:root {
    /* --mobile:; */
    --desktop: 1500px;
    
    --color-primary:#457D61;
    --color-secondary: #fff;
    --color-text: #252525;
    
    --radius: 2rem;
    --font-family: 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: 
    "section1 section2 section3"
    "section1 section2 section3";
}

.section1 {
    grid-area: section1;
}
.section2 {
    grid-area: section2;
}
.section3 {
    grid-area: section3;
}